@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$green: #59674f;
$dark-grey: #383838;
$grey: #a6a6a6;
$main-bg: #151515;
$secondary: #e8e8e8;
$main: #ff8c42;
$secondary-2: #cecece;
$third-bg: #1d1d1d;
$white: #fff;
$black: #1a1c1e;
$primary-colors-black: #0e0e0e;
$main: #ffca00;
$seondarcy1: #f3002c;
$secondary2: #198cff;
$text-black-500: #121212;
$text-black-300: #474747;
$bg-gray: #f8f8f8;
$bg-black: #292929;
$font-family: "Ubuntu", sans-serif;
$second-family: "Inter", sans-serif;

*{
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: $font-family;
}

body, html {
    background-color: #090909;
    max-width: 100vw;
    overflow-x: hidden;
    
}


.container {
    width: 1275px;
    margin: auto;
}
header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 140px;
        position: relative;
        img {
            width: 100%;
        }
    }
    nav {
        background: #1c1c1c;
        display: flex;
        align-items: center;
        border-radius: 290px;
        padding: 6px 32px 6px 6px;
        gap: 40px;
        a {
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: $white;
        }
    }
    .header-home {
        border-radius: 40px;
        padding: 8px 16px;
        width: 52px;
        height: 36px;
        display: flex;
        align-items: center;
        display: flex;
        background: $bg-black;
        svg {
            max-width: 20px;
        }
    } 
}

.hero {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 279px;
        background: linear-gradient(180deg, rgba(9, 9, 9, 0) 0%, #090909 100%);
        bottom: 0;
        left: 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        padding-top: 230px;
        padding-bottom: 230px;
    }
    .l {
        width: 100%;
        max-width: 676px;
    }
    .heading {
        display: flex;
        flex-direction: column;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 100%;
            max-width: 373px;
            height: 1px;
            background: $white;
            margin-top: 50px;
            margin-bottom: 50px;

        }
        h1, .headingh {
            font-family: $font-family;
            font-weight: 700;
            font-size: 64px;
            line-height: 125%;
            color: $white;
            span {
                color: #e75f00;
            }
        }
        p {
            font-style: italic;
            font-weight: 400;
            font-size: 40px;
            line-height: 175%;
            color: $white;
            span {
                color: #e75f00;
            }
        }

    }
    .more {
        display: flex;
        background: none;
        border: 1px solid $white;
        border-radius: 122px;
        padding: 6px 6px 6px 32px;
        align-items: center;
        gap: 10px;
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: $white;
        .arrow {
            background: #e75f00;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 49px;
            height: 49px;
            font-family: $font-family;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            color: $white;
            border-radius: 50%;
            svg {
                width: 20px;
            }
        }
    }
    .r {
        width: 100%;
        max-width: 520px;
        .text {
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            color: $white;
            opacity: 0.8;
            span {
                font-weight: 700;
            }
        }
        .peoples {
            display: flex;
            align-items: center;
            font-family: $second-family;
            font-weight: 400;
            font-size: 16px;
            color: $white;
            opacity: .5;
            gap: 10px;
            margin-top: 15px;
            svg {
                width: 35px;
            }
        }
        .texts {
        }
    }
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .begustrok {
        display: flex;
        position: absolute;
        z-index: 2;
        bottom: 30px;
        left: 0;
        align-items: center;
        gap: 60px;
        .strok {
            display: flex;
            align-items: center;
            gap: 60px;
            animation: begusstr 10s linear infinite;
            p {
                font-family: $second-family;
                font-weight: 400;
                font-size: 20px;
                text-align: center;
                color: $white;
            }
        }
    }
    &.btm {
       .container {
        padding-top: 0;
        padding-bottom: 200px;
       } 
       .l {
        max-width: 476px;
       }
       .r {
        max-width: 724px;
        .text {
            span {
                font-style: italic;
                font-weight: 400;
            }
        }
       }
    }
}
@keyframes begusstr {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
    
}

.unic {
    padding-bottom: 173px;
    margin-top: 140px;
    position: relative; 
    .container {
        position: relative;
        z-index: 2;
    }
    .heading {
        display: flex;
        p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 64px;
            color: $white;
            max-width: 639px;
            span {
                color: #e75f00;
                font-weight: 700;
            }
        }
        svg {
            margin-top: 23px; 
            margin-left: 20px;
        }
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        gap: 40px;
    }
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 15px 30px 0;
        width: 290px;
        height: 345px;
        svg {
            margin-bottom: 20px;
            position: relative;
            z-index: 2;
        }
        .heading {
            font-family: $font-family;
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            color: $white;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;
            z-index: 2;
            &::after {
                content: '';
                display: block;
                width: 100%;
                max-width: 155px;
                background: #e75f00;
                height: 1px;
                margin: auto;
            }
        }
        .text {
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            line-height: 137%;
            text-align: center;
            color: $white;
            position: relative;
            z-index: 2;
            margin-top: 20px;
        }
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .block-bg {
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        z-index: 1;
    }
}
.uget {
    z-index: 2;
    padding-bottom: 240px;
    position: relative;
    .container {
        display: flex;
        gap: 80px;
        position: relative;
        z-index: 2;
    }
    .l {
        width: 100%;
        max-width: 625px;
    }
    .heading {
        font-family: $font-family;
        font-weight: 400;
        font-size: 64px;
        color: $white;
        span {
            color: #e75f00;
            font-weight: 700;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 50px;
        li {
            display: flex;
            position: relative;
            gap: 7px;
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 250%;
            color: $white;
            &::before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #e75f00;
                flex-shrink: 0;
            }
        }
    }
    .r {
    }
    .bg {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}
.steps {
    position: relative;
    margin-bottom: 100px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    .heaidng {
        font-family: $font-family;
        font-weight: 400;
        font-size: 64px;
        text-align: center;
        color: $white;
        span {
            color: #e75f00;
            font-weight: 700;
        }
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 160px;
        margin-top: 50px;
    }
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 17px 30px 26px;
        width: 318px;
        height: 258px;
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
        .heaidng {
            font-family: $font-family;
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            color: $white;
            position: relative;
            z-index: 2;
            margin-bottom: 20px;
            span {
                color: #e75f00;
            }
            &::after {
                content: '';
                display: block;
                width: 155px;
                height: 1px;
                background: #e75f00 ;
                margin-top: 20px;
            }
        }
        .text {
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            line-height: 137%;
            text-align: center;
            color: $white;
            position: relative;
            z-index: 2;
        }
        svg {
           position: absolute;
           top: 50%;
           transform: translateY(-50%); 
           left: calc(100% + 50px);
        }
        &:nth-child(3n) {
            svg {
                display: none;
            }
        }
    }
    .block-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
.final {
    padding-bottom: 200px;
    position: relative;
    .container {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
    }
    .wrapper {
        max-width: 645px;
    }
    .heading {
        font-family: $font-family;
        font-weight: 400;
        font-size: 64px;
        color: $white;
        gap: 30px;
        &::after {
            content: '';
            margin-top: 20px;
            margin-bottom: 20px;
            display: block;
            width: 400px;
            height: 1px;
            background: $white;
        }
        span {
            font-weight: 700;
            color: #e75f00;
        }
    }
    .text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: $white;
    }
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

}

footer {
    background: #151515;
    padding: 40px 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        max-width: 139px;
        width: 100%;
        position: relative;
        img {
            width: 100%;
        }
    }
    .item {
        display: flex;
        flex-direction: column;
        gap: 40px;
        a {
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            color: $white;
        }
    }
    .button {
        a {
            display: flex;
            align-items: center;
            border: 1px solid $white;
            border-radius: 122px;
            padding: 6px 6px 6px 32px;
            font-family: $font-family;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            color: $white;
            gap: 10px;
        }
    }
    .arrow {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #e75f00;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 20px;
        }
    }
}

.mob {
    display: none;
}

@media(max-width: 1200px) {
    .container {
        width: 100%;
        margin: 0 10px;
        max-width: calc(100% - 20px);
    }


    .mob {
        display: block;

    }

    header {
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            border-radius: 5px;
            padding: 10px;
            align-items: center;
            padding-bottom: 50px;
            transform: translateX(-100%);
            transition: all .4s ease;
            z-index: 1;
            &.active {
                transform: translateX(0);
            }
        }
        .header-mob-button {
            border-radius: 40px;
            padding: 8px 16px;
            width: 54px;
            height: 36px; 
            background: $bg-black;
            position: relative;
            z-index: 2;
            
            rect {
                transition: all .4s ease;
                        &:nth-child(2) {
                            transform-origin: left center;
                        }
            }
            &.active {
                svg {
                    rect {
                        transition: all .4s ease;
                        &:nth-child(1) {
                            rotate: 45deg;
                            y: -3px;
                            x: 3px;
                        }
                        &:nth-child(2) {
                            rotate: -45deg;
                            y: 15px;
                            x: -2px;
                            transform-origin: left center;
                        }
                        &:nth-child(3) {
                            width: 0;
                        }
                    }
                }
            }
        }
    }
    .hero {
        .container {
            flex-direction: column;
            padding-bottom: 150px;
            padding-top: 90px;
        }
        .heading {
            margin-bottom: 20px;
            h1 {
                font-size: 30px;
    
            }
            p {
                font-size: 20px;
            }
            &::after {
                display: none;
            }
        }
        .more {
            width: 100%;
            max-width: 100%;
            justify-content: center;
            &.desk {
                display: none;
            }
        }
        .l {
            .text {
                font-size: 16px;
                line-height: 200%;
            }
        }
        .r {
            .peoples {
                border-bottom: 1px solid white;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .unic {
        margin-top: 50px;
        padding-bottom: 50px;
        .heading {
            p {

                font-size: 30px;
                text-align: center;
            }
            svg {
                display: none;
            }
        }
        .wrapper {
            flex-direction: column;
            align-items: center;
        }
        .item {
        }
    }
    .uget {
        .heading {

            font-weight: 400;
            font-size: 30px;
        }
        .l {
            position: relative;
            z-index: 2;
            ul li {

                font-size: 20px;
                line-height: 250%;
                &::before {
                    margin-top: 20px;
                }
            }
            p {
                font-family: $font-family;
                font-weight: 400;
                font-size: 20px;
                line-height: 160%;
                color: $white;
            }
        }
        .r {
            position: absolute;
            opacity: .5;
            z-index: 1;
            max-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 150px;
                background: linear-gradient(360deg, #090909 0%, #090909 60%, #09090900 100%);
                position: absolute;
                bottom: 0;
                left: 0;
            }
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 150px;
                background: linear-gradient( #090909 0%, #090909 60%, #09090900 100%);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .bg {
            display: none;
        }
    }
    .steps {
        .heaidng {
            font-weight: 400;
            font-size: 30px;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 110px;
            .item {
                svg {
                    transform: rotate(90deg) translateY(0) translateX(-50%);
                    top: calc(100% + 70px);
                    left: 40%;
                }
            }
        }
    }
    .final {
        .wrapper {
            max-width: 100%;
        }
        .heading {
            font-size: 30px;
            &::after {
                width: 100%;
            }
        }
        .bg {
            bottom: -100px;
            width: 170%;
            height: auto;
            top: auto;
        }
        .text {
            font-size: 20px;
        }
    }
    .hero {
        &.btm {
            .container {
                padding-bottom: 200px;
            }
            .heading {
                h2 {
                    font-size: 30px;
                    &::after {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: white;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
            .more {
                margin-top: 20px;
            }
        }
    }
    footer {
        .container {
            flex-direction: column;
            align-items: center;
            gap: 40px;
            .item {
                display: flex;
                flex-direction: column;
                gap: 40px;
                a {
                    text-align: center;
                }
            }
        }
    }
}